@{
    ViewData["Title"] = "Home Page";
}

<h1 class="display-4">Employee Leave Management System</h1>
<h4>In the existing paper work related to leave management, leaves are maintained using the attendance register for staff.
The staff needs to submit their leaves manually to their respective authorities. This increases the paperwork &
maintaining the records becomes tedious. Maintaining notices in the records also increases the paperwork. The main
objective of the proposed system is to decrease the paperwork and help in easier record maintenance by having a
particular centralized Database System, where Leaves and Notices are maintained. The proposed system automates
the existing system. It decreases the paperwork and enables easier record maintenance. It also reduces chances of
Data loss. This module intelligently adapts to HR policy of the management & allows employees and their line
managers to manage leaves and replacements for better scheduling of workload.</h4>


<p><strong>Build A strong Foundation in .NET Core Programming: </strong></p>

<div class="text-center">
    <p>Learn about <a href="http://ijariie.com/AdminUploadPdf/Employee_Leave_Management_System_ijariie6790.pdf"></a>.</p>
</div>
